<html>

<head>
    <style>
        body {
            background-color: #111111;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        h1 {
            font-size: 48px;
        }
        
        h2 {
            font-size: 40px;
        }

        a {
            color: white;
            text-decoration: none;
        }
        .container {
            max-width: 800px;
            margin: 100px auto;
        }
    </style>
</head>

<body>
    <div class="container">
        {% block container %}
            <h1>{{ title }}</h1>
            <ul>
                {% for num in numbers %}
                    <li>
                        {{num}}
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}

    </div>
</body>

</html>
